{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block head_title %}
New -
{% endblock head_title %}


{% block content %}
<div class="row gx-5">
    <div class="col">
        {% include 'cheques/cheque_submitted_user_list.html' %}
    </div>
    <div class="col-4 h-100 shadow p-5 rounded mx-auto">
        <h1>New Cheque</h1>
        <hr>
        <br>
        <form action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="my-3 text-end">
                <button type="submit"
                    class="btn btn-outline-dark rounded-pill px-5">Submit</button>
            </div>
        </form>
    </div>
    <div class="col">
        {% include 'cheques/cheque_printed_user_list.html' %}

    </div>
</div>

{% endblock content %}