{% load humanize %}
<div class="shadow p-5">
    <h1 class="text-center">Printed</h1>
    <hr>
    <br>

    <table class="table table-hover table-sm"
        style="font-size: small;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vendor</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>

            {% for cheque in cheques_printed %}
            <tr title="updated {{cheque.updated|naturaltime}}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{cheque.vendor}}</td>
                <td>${{cheque.amount|intcomma}}</td>
                <td>
                    <a title="mark as delivered"
                        class="text-dark fs-5"
                        href=""><i class="bi bi-truck"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center"
                    colspan="3">No cheques found</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>